.headphones {

}

.headphones .guy {
    
}

.headphones .wall {
    background-image: url(../img/3rd/headphone_guy.png);
    background-position: center;
    background-size: cover;
    min-height: 640px;
}

.headphones .wall img {

}

.headphones .text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 640px;
    justify-content: center;
    padding-left: 260px;
}

.headphones .text h2 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 35px;
    width: 461px;
    color: aqua;
}

.headphones .text h3 {
    font-size: 20px;
    font-weight: 500;
    width: 432px;
    line-height: 35px;
    word-spacing: 2px;
    color: aqua;
}
